h1,
h2,
h3,
div,
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Nav Section */
.nav {
  background: #64ef8b;
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.nav-title {
  font-size: 24px;
}

/* Header Section */

.header-section {
  min-height: 40vh;
  width: 100vw;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  background-image: url("assets/cover-photo.jpg");
}

.header-title-container {
  width: 400px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60px;
}

.header-title {
  font-size: 80px;
  color: #64ef8b;
}

/* Build Section */

.build-section {
  height: 54vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
}

.sticker-builder {
  background: rgb(0, 0, 0);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.builder-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.sticker-border {
  border-style: dotted;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 400px) {
  .sticker-for-sale {
    font-size: 40px;
  }
}
@media (min-width: 700px) {
  .sticker-for-sale {
    font-size: 60px;
  }
}
@media (min-width: 1000px) {
  .sticker-for-sale {
    font-size: 80px;
  }
}
.sticker-for-sale {
  font-weight: 600;
}

@media (min-width: 400px) {
  .sticker-email {
    font-size: 14px;
  }
}
@media (min-width: 700px) {
  .sticker-email {
    font-size: 21px;
  }
}
@media (min-width: 1000px) {
  .sticker-email {
    font-size: 28px;
  }
}
.sticker-email {
  word-wrap: normal;
  white-space: nowrap;
}

@media (min-width: 400px) {
  .sticker-num {
    font-size: 32px;
  }
}
@media (min-width: 700px) {
  .sticker-num {
    font-size: 48px;
  }
}
@media (min-width: 1000px) {
  .sticker-num {
    font-size: 64px;
  }
}
.sticker-num {
  word-wrap: normal;
  white-space: nowrap;
}

.sticker-option-text {
  font-size: 20px;
  margin-left: 15px;
}

.order-btn {
  width: 150px;
  height: 35px;
  border-radius: 6px;
  background-color: #64ef8b;
  border-width: 0cm;
  font-weight: 800;
  position: relative;
  top: -18px;
}

.order-btn:hover {
  margin-top: -2px;
  width: 155px;
  height: 37px;
  border-radius: 6px;
  filter: brightness(0.8) contrast(1.2);
  border-width: 0cm;
  cursor: pointer;
}

.option-wrapper {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-btn {
  width: 30px;
}

.add-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-btn:hover {
  width: 31px;
  margin-right: -1px;
  margin-bottom: -1px;
  filter: brightness(0.8) contrast(1.2);
  cursor: pointer;
}

@media (min-width: 400px) {
  .builder-title {
    font-size: 15px;
  }
}
@media (min-width: 700px) {
  .builder-title {
    font-size: 35px;
  }
}
@media (min-width: 1000px) {
  .builder-title {
    font-size: 200%;
  }
}
.builder-title {
  /* margin-top: 50px; */
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  bottom: -18px;

  font-weight: 600;
}

/* Marketing Card */

.marketing-card {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(to bottom, #5dcb7c, #29d259);
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 400px) {
  .marketing-text {
    font-size: 25px;
  }
}
@media (min-width: 700px) {
  .marketing-text {
    font-size: 45px;
  }
}
@media (min-width: 1000px) {
  .marketing-text {
    font-size: 360%;
  }
}
.marketing-text {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 100;
}

/* Payment Page */
.payment {
  width: 100vw;
  height: 94vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.product-summary {
  width: 500px;
  height: 100%;
  background: black;

  padding-top: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.438);
}

.payment-section {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-left: 30px;
}

/* version 2 */
.summary-deco {
  background-color: #29d25993;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 0;
  margin-bottom: -57vh;
  margin-left: -50px;
  margin-top: -100px;

  width: 40vw;
  height: 70vh;
  z-index: -1;
  rotate: 90;
  transform: rotate(-23.05deg);
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.164);
}

.variant-btn {
  width: 150px;
  height: 35px;
  border-radius: 6px;
  background-color: #64ef8b;
  border-width: 0cm;
  font-weight: 600;
  position: relative;
  top: -18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product Scrollbox */
.product-scrollbox {
  height: 100%;
  position: fixed;
  top: 6vh;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6vh;

  overflow: auto;
}

.product-scrollbox::-webkit-scrollbar {
  width: 0em;
}

.product-scrollbox::-webkit-scrollbar-track {
  background-color: transparent;
}

.product-scrollbox::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* ----- */

@media (min-width: 400px) {
  .sticker-for-sale-sum {
    font-size: 30px;
  }
}
@media (min-width: 700px) {
  .sticker-for-sale-sum {
    font-size: 50px;
  }
}
@media (min-width: 1000px) {
  .sticker-for-sale-sum {
    font-size: 70px;
  }
}
.sticker-for-sale-sum {
  font-weight: 600;
}
/* For Sale */

@media (min-width: 400px) {
  .sticker-email.sum {
    font-size: 9px;
  }
}
@media (min-width: 700px) {
  .sticker-email-sum {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  .sticker-email-sum {
    font-size: 23px;
  }
}
.sticker-email-sum {
  word-wrap: normal;
  white-space: nowrap;
}
/* Email */

@media (min-width: 400px) {
  .sticker-num-sum {
    font-size: 22px;
  }
}
@media (min-width: 700px) {
  .sticker-num-sum {
    font-size: 38px;
  }
}
@media (min-width: 1000px) {
  .sticker-num-sum {
    font-size: 56px;
  }
}
.sticker-num-sum {
  word-wrap: normal;
  white-space: nowrap;
}
/* Number */

.add-btn-sum img {
  width: 30px;
}

.remove-btn-sum img {
  width: 30px;
}

.remove-btn-sum-small img {
  width: 20px;
}

.add-btn-sum-small img {
  width: 20px;
}
.quantity-num {
  padding: 10px;
}
.quantity-title {
  margin-top: 10px;
}

.divider {
  width: 120%;
  margin-left: -10%;
  height: 0.1px;
  background-color: rgba(255, 255, 255, 0.492);
}
