h1,
h2,
h3,
div,
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Nav Section */
.nav {
  background: #64ef8b;
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.nav-title {
  font-size: 24px;
}

/* Header Section */

.header-section {
  min-height: 40vh;
  width: 100vw;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  background-image: url("assets/cover-photo.jpg");
}

.header-title-container {
  width: 400px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.header-title {
  font-size: 80px;
  color: #64ef8b;
}

/* Build Section */

.build-section {
  height: 54vh;
  width: 100vw;
  background: rgb(0, 0, 0);
}

.build-section {
  display: flex;
  flex-direction: row;
}

.sticker-builder {
  background: rgb(0, 0, 0);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.builder-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.sticker-border {
  border-style: dotted;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 15px;

  border-color: rgb(230, 230, 230);
}

.sticker-option-text {
  font-size: 20px;
  margin-left: 15px;
}

.order-btn {
  margin-top: 70px;
  width: 150px;
  height: 35px;
  border-radius: 6px;
  background-color: #64ef8b;
  border-width: 0cm;
  font-weight: 800;
}

.order-btn:hover {
  margin-top: 70px;
  width: 155px;
  height: 36px;
  border-radius: 6px;
  filter: brightness(0.8) contrast(1.2);
  border-width: 0cm;
  cursor: pointer;
}

.option-wrapper {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-btn {
  width: 30px;
}

.add-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-btn:hover {
  width: 31px;
  margin-right: -1px;
  margin-bottom: -1px;
  filter: brightness(0.8) contrast(1.2);
  cursor: pointer;
}

@media (min-width: 400px) {
  .sticker-for-sale {
    font-size: 40px;
  }
}

@media (min-width: 700px) {
  .sticker-for-sale {
    font-size: 60px;
  }
}

@media (min-width: 1000px) {
  .sticker-for-sale {
    font-size: 80px;
  }
}

.sticker-for-sale {
  font-weight: 600;
}

@media (min-width: 400px) {
  .builder-title {
    font-size: 15px;
  }
}

@media (min-width: 700px) {
  .builder-title {
    font-size: 35px;
  }
}

@media (min-width: 1000px) {
  .builder-title {
    font-size: 200%;
  }
}

.builder-title {
  margin-top: 50px;
  text-align: center;
  letter-spacing: 2px;

  font-weight: 600;
}

/* Marketing Card */

.marketing-card {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(to bottom, #5dcb7c, #29d259);
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 400px) {
  .marketing-text {
    font-size: 25px;
  }
}

@media (min-width: 700px) {
  .marketing-text {
    font-size: 45px;
  }
}

@media (min-width: 1000px) {
  .marketing-text {
    font-size: 360%;
  }
}

.marketing-text {
  text-align: center;
  letter-spacing: 2px;

  font-weight: 100;
}
