h1,
h2,
h3,
div,
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background: #64ef8b;
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.nav-title {
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-section {
  min-height: 40vh;
  width: 100vw;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  background-image: url("assets/cover-photo.jpg");
}

.header-title-container {
  width: 400px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.header-title {
  font-size: 80px;
  color: #64ef8b;
}

.build-section {
  height: 54vh;
  width: 100vw;
  background: rgb(0, 0, 0);
}

.build-section {
  display: flex;
  flex-direction: row;
}

.sticker-builder {
  background: rgb(51, 50, 50);
  width: 50vw;
}

.marketing-card {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(to bottom, #5dcb7c, #29d259);
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 400px) {
  .marketing-text {
    text-align: center;
    font-size: 25px;

    font-weight: 100;
  }
}

@media (min-width: 700px) {
  .marketing-text {
    text-align: center;
    font-size: 45px;

    font-weight: 100;
  }
}

@media (min-width: 1000px) {
  .marketing-text {
    text-align: center;
    font-size: 360%;

    font-weight: 100;
  }
}
